@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
}

body {
    background-color: #FBFAFB;
}

.img-container {
    position: relative;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(rgb(20, 20, 20), rgba(0, 0, 0, 0));
    align-items: center;
    gap: 25%;
    position: absolute;
    top: 0px;
    height: 140px;
    width: 100%;
}

ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    color: white;
}

p {
    color: #8E8E8F;
}

.img-desktop {
    width: 100%;
    height: auto;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -2000px;
    max-width: 50%;
    background-color: #FBFAFB;
    margin: auto;
}

.container-back {
    background-color: white;
    position: relative;
    margin-top: -13%;
    border-radius: 6px;
    z-index: 1;
}

.container-back-1 {
    padding: 20px;
    margin-top: 25px;
    text-align: center;
}

.container-back-2 {
    display: flex;
    justify-content: space-between;
    margin: 5% 5% 2% 5%;
}

.button-back-1 {
    border-radius: 30px;
    border: none;
    width: 25%;
    height: 50px;
    background-color: #3CB5AA;
    color: white;
}

.button-back-2 {
    display: flex;
    align-items: center;    
    gap: 5px;
    border-radius: 30px;
    border: none;
    width: 20%;
    height: 50px;
    background-color: #F5F5F4;
}

.logo-mastercraft {
    top: -30px;
    left: 47%;
    position: absolute;
}

.container-accumulated {
    background-color: white;
    border-radius: 6px;
    padding: 3% 7%;
}

.container-accumulated-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

h3 {
    font-weight: 700;
    font-size: 2em;
}

hr {
    width: 1px;
    border: none;
    background-color: #acacac48;
}

.range {
    height: 12px;
    width: 100%;
    border-radius: 8px;
    -webkit-appearance: none; 
    appearance: none;
    background-color: #F5F5F4;
}
